.cards-wrapper {
    opacity: 1;
}

.card {
    background-color: dimgray;
    color: snow;

    width: 30vw;
    /* height: 600px; */
    border: 2px dashed black;

    border-radius: 15px;
    font-size: 1.5em;

    margin-bottom: 50px;
    margin-left: 250px;
    padding: 40px;
}

#right {
    margin-right: 250px;
    margin-left: auto;

}

.header {
    font-size: 4em;
    color: white;
    text-align: center;
    background-color: none;
    width: 100vw;
    height: 80px;
    margin-top: 100px;
}

.footer {
    font-size: 2em;
    color: white;
    text-align: center;
    background-color: none;
    width: 100vw;
    height: 80px;
    margin-top: 100px;
}

.moon-wrapper {
    height: 70vh;
}

#test {
    background-color: red;
    height: 700px;
}